<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Notifications</title>
    <style>
        body {
            background-color: black;
        }

        .centering {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10vh;
            margin-top: 30vh;
        }
    </style>
</head>

<body>
    <h1 style="color: white; text-align: center;">
        <%= title %>
    </h1>
    <h2 class="centering">
        <input id="query" name="username" type="text" autocomplete="off" placeholder="Query"
            style="text-align: center;">
    </h2>
    <h3 class="centering" style="color: red; display: none">
        Unable to perform query
    </h3>
    <ul style="color: white">
    </ul>
</body>

<script>
    const xhttp = new XMLHttpRequest();

    document.querySelector('#query').addEventListener('keyup', function (e) {
        if (document.getElementById('query').value === "") {
            // The search box is empty, simply return
            document.querySelector('ul').innerHTML = "";
            return;
        }

        if (e.key === 'Enter') {
            // code for enter
            xhttp.abort();
            xhttp.open("POST", "search", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    resp = xhttp.responseText;
                    const remove_first_bracket = resp.slice(1)
                    const remove_last_bracket = remove_first_bracket.slice(0, -1)
                    const urls = remove_last_bracket.split(",")

                    document.querySelector('ul').innerHTML = "";
                    urls.map(element => {
                        const node = document.createElement('li');
                        node.appendChild(document.createTextNode(element));
                        document.querySelector('ul').appendChild(node);
                    })

                } else if (xhttp.readyState == 4 && xhttp.status == 503) {
                    document.getElementById('error-code').style.display = "";
                }
            }

            const data = {
                "query": document.getElementById('query').value
            }
            xhttp.send(JSON.stringify(data));
        }
    });
</script>

</html>